<div class="container">
    <div class="card">
        <div class="card-body">
            <h6 style="color:#0056b3; text-align: center;">Ingresa los datos del nuevo producto</h6>
            <form>
                <div class="form-group">
                    <label for="id" style="color:#0056b3; font-weight: 200;">Id</label>
                    <input type="number" name="id" class="form-control" [(ngModel)]="producto.id" required>

                    <label for="nombre" style="color:#0056b3 ; font-weight: 200;">Nombre </label>
                    <input type="text" name="nombre" class="form-control" [(ngModel)]="producto.nombre" required>

                    <label for="precio" style="color:#0056b3; font-weight: 200;">Precio</label>
                    <input type="number" name="precio" class="form-control" [(ngModel)]="producto.precio" required>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary" style=" background: #0056b3;" (click)="guardarProductoComponent()">Guardar Producto</button>
                </div>
            </form>
        </div>
    </div>
</div>