<div class="container" >
    <div class="content">
        <div class="titles" style="display: flex; justify-content: space-between;align-items: center;">
            <h4>Nuestros Productos</h4>
            <button (click)="guardarProducto()" style="font-weight:500; padding: 10px; border: 0; background: #0056b3; border-radius: 15px; color: #fff;" >Agregar Producto</button>

        </div>
        <div class="cards">
            <table class="table table-hover">
                <thead>
                    <tr>
                        
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col" colspan="2" style="text-align: center;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (producto of productos; track producto.id){
                    <tr>
                        <th>{{ producto.id}}</th>
                        <td>{{ producto.nombre}}</td>
                        <td>${{ producto.precio}}</td>
                        <td style="text-align: end;"><button type="button" class="btn btn-warning" (click)="editarProducto(producto)">Editar</button></td>
                        <td style="text-align: center;"><button type="button" class="btn btn-danger" (click)="eliminarProducto(producto)">Eliminar</button></td>
                    </tr>
                }@empty{
                    <td colspan="10" style="text-align: center; font-weight: bold; color: #0056b3;"> :( <br> No existen registros</td>
                }
                </tbody>
            </table>
            
        </div>

    </div>
</div>